Repository p1c2u/openapi-core, pull requests merged in 2018-08, with the labels that each got.

#79 Support unmarshaling string with format keyword
  openapi_core/schema/schemas/models.py
  openapi_core/schema/schemas/util.py
  tests/unit/schema/test_schemas.py
Labels: area/schema

#80 Handle parameter deserialization errors
  openapi_core/schema/parameters/models.py
  tests/integration/test_petstore.py
Labels: WIP

#81 Separate schema casting and validation
  openapi_core/schema/media_types/models.py
  openapi_core/schema/parameters/models.py
  openapi_core/schema/responses/models.py
  openapi_core/schema/schemas/models.py
  openapi_core/schema/schemas/validators.py
  tests/unit/schema/test_schemas.py
Labels: WIP

#84 Object validation
  openapi_core/extensions/models/factories.py
  openapi_core/extensions/models/models.py
  openapi_core/schema/schemas/models.py
  tests/integration/test_petstore.py
  tests/integration/test_validators.py
  tests/unit/extensions/test_models.py
  tests/unit/schema/test_schemas.py
Labels: area/schema, kind/enhancement

#85 Collection validation
  openapi_core/schema/schemas/models.py
  tests/unit/schema/test_schemas.py
Labels: area/schema, kind/enhancement

#86 String validation
  openapi_core/schema/schemas/models.py
  openapi_core/schema/schemas/util.py
  tests/integration/data/v3.0/petstore.yaml
  tests/unit/schema/test_schemas.py
Labels: area/schema, kind/enhancement

#73 Any schema type
  openapi_core/schema/schemas/enums.py
  openapi_core/schema/schemas/exceptions.py
  openapi_core/schema/schemas/factories.py
  openapi_core/schema/schemas/models.py
  tests/integration/data/v3.0/petstore.yaml
  tests/integration/test_petstore.py
Labels: WIP, area/schema
